body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  width: 250px;
  padding-left:10px;
  padding-right:10px;
  min-width: 450px;
}
#url {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
  font-size: 14px;
}
#reason {
  width: 400px;
}
#add {
  margin-left: 2px;
}