.stoppable_div {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #222233;
	color: #AACCFF !important;
	font-family: Helvetica Neue,Helvetica,sans-serif !important;
	display: grid;	
  grid-template-columns: auto 800px auto;
	grid-template-rows: 20% 50px 50px 50px auto;
	z-index: 2147483647;
	letter-spacing: normal !important;
	padding: 0px;
	margin: 0px;
	border-radius: 0px;
	background: #222233;
}

.stoppable_header {
	grid-column: 2;
  grid-row: 2;
	margin: 0px !important;
	padding: 0px !important;
	width: 800px !important;
	font-family: Helvetica Neue,Helvetica,sans-serif !important;
	letter-spacing: normal !important;

	color: #AACCFF !important;
	font-weight: bold !important;
	font-size: 50px !important;
}

.stoppable_reason {
	grid-column: 2;
	grid-row: 3;	
	margin: 0px !important;
	padding: 0px !important;
	width: 800px !important;

	color: #AACCFF !important;
}

.stoppable_input {
	grid-column: 2;
	grid-row: 4;
	margin: 20px 0px 0px 0px !important;
	padding: 0px !important;
	width: 800px !important;
	font-family: Helvetica Neue,Helvetica,sans-serif !important;
	letter-spacing: normal !important;

	background: transparent !important;
	border: none !important;
	outline: none !important;
	font-size: 25px !important;
	color: #DDDDC0 !important;
	font-family: Helvetica Neue,Helvetica,sans-serif !important;
	box-shadow: none !important;	
}

.stoppable_input:focus {
	outline-width: 0 !important;
	box-shadow: none !important;	
}

.stoppable_input::placeholder {
  color: #888 !important;
}

.stoppable_button {
	grid-column: 2;
	grid-row: 5;
	margin: 50px auto 0px auto !important;
	padding: 0px !important;
	width: 330px !important;
	height: 50px !important;
	font-family: Helvetica Neue,Helvetica,sans-serif !important;
	letter-spacing: normal !important;

	background: transparent !important;
	border: 3px solid #AACCFF !important;
	border-radius: 0px !important;	
  color: #AACCFF !important;
	font-size: 25px !important;
	text-shadow: none !important;
	text-decoration: none !important;
	box-shadow: none !important;
  transition: all 0.3s !important;
}

.stoppable_button:hover, .stoppable_button:active {
	background: transparent !important;
	margin: 50px auto 0px auto !important;
	padding: 0px !important;
	border: 3px solid #DDDDC0 !important;
	box-shadow: none !important;	
  color: #DDDDC0 !important;
	cursor: pointer !important;
}